html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

:root {
  --swiper-theme-color: #666;
  --color-white: #FFF;
  --color-violet: #7943A4;
  --color-violet-1: #9D5CD0;
  --color-violet-2: #C283F3;
  --color-grey: #333;
}

*:focus,
input, 
select {
  outline: none;
}
  
body {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  color: var(--color-grey);
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-size: 48px;
  font-weight: normal;
  line-height: 65px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1620px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  min-width: 173px;
  height: 40px;
  line-height: 1;
  transition: outline .3s ease-in-out
}

.logo__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.link {
  color: var(--color-violet-1);
  line-height: 28px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.link:focus {
  color: var(--color-white);
  background-color: var(--color-violet-1);
}

.link:hover {
  border-bottom: 1px solid var(--color-violet-1);
  color: var(--color-violet-1);
  background-color: inherit
}

.link:active {
  border-bottom: 1px solid var(--color-violet);
  color: var(--color-violet);
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.js-validate-error-label {
  padding-left: 24px;
  font-size: 12px;
  color: #D11616 !important;
}

.section-contacts__form-name.js-validate-error-field,
.section-contacts__form-tel.js-validate-error-field {
  border: 1px solid #D11616 !important;
  color: #999999 !important;
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu {
  width: 100%;
  background-color: #000;
}

.menu__container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.menu__logo {
  margin-right: 176px;
}

.menu-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.menu-nav__item:not(:last-child) {
  margin-right: 52px;
}

.menu-nav__link,
.menu-user {
  padding: 5px;
  font-size: 18px;
  color: var(--color-white);
  white-space: nowrap;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.menu-nav__link {
  display: inline-block;
  font-weight: 600;
  line-height: 18px;
}

.menu-user {
  display: inline-block;
  font-weight: 400;
  line-height: 18px;
}

.menu-nav__link:focus {
  background-color: var(--color-violet);
}

.menu-nav__link:hover,
.lowermenu__btn:hover {
  color: var(--color-violet-2);
  background-color: inherit;
}

.menu-nav__link:active,
.lowermenu__btn:active {
  color: var(--color-violet);
}

.menu-user svg path {
  transition: fill .3s ease-in-out;
}

.menu-user:focus {
  background-color: var(--color-violet);
}

.menu-user:focus svg path {
  fill: var(--color-white);
}

.menu-user:hover {
  color: var(--color-violet-2);
  background-color: inherit;
}

.menu-user:hover svg path {
  fill: var(--color-violet-2);
}

.menu-user:active {
  color: var(--color-violet-1);
}

.menu-user:active svg path {
  fill: var(--color-violet-1);
}

.lowermenu {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.lowermenu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;
}

.lowermenu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -5px;
  white-space: nowrap;
}

.dropdown {
  position: absolute;
  top: calc(100% + 21px);
  left: 0;
  z-index: 10;
  padding-bottom: 38px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

.lowermenu__item {
  position: relative;
  margin-right: 82px;
  line-height: 1;
}

.lowermenu__item:last-child {
  margin-right: 0;
}

.lowermenu__btn {
  padding: 5px 25px 5px 5px;
  border: none;
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  background-color: inherit;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.dropdown__link {
  display: block;
  padding-left: 14px;
  width: 100%;
  line-height: 40px;
  color: var(--color-white);
}

.lowermenu__btn:focus {
  color: var(--color-white);
  background-color: var(--color-violet);
}

.lowermenu__btn:hover {
  color: var(--color-violet-2);
  background-color: inherit;
}

.lowermenu__btn:active {
  color: var(--color-violet);
  background-color: inherit;
}

.lowermenu__btn::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-left: 3px;
  border-top: 1px solid var(--color-white);
  border-right: 1px solid var(--color-white);
  width: 7px;
  height: 7px;
  transform: translate(7px, -50%) rotate(135deg);
  transition: border-color .3s ease-in-out
}

.lowermenu__btn:focus::after {
  border-color: var(--color-white);
}

.lowermenu__btn:hover::after {
  border-color: var(--color-violet-2);
}

.lowermenu__btn:active::after {
  border-color: var(--color-violet);
}

.dropdown__list {
  padding: 40px 40px 0 40px;
  max-height: 262px;
}

.dropdown__item {
  align-items: center;
  margin-bottom: 20px;
}

.dropdown__item:last-child {
  margin-bottom: 2px;
}

.dropdown__link:focus,
.dropdown__link:hover {
  display: block;
  outline: 2px solid var(--color-violet-1);
}

.dropdown__item-1 {
  background-image: url('../img/tabs-pane__link-1.png');
  transition: background-image 1.3 ease-in-out;
}

.dropdown__item-2 {
  background-image: url('../img/tabs-pane__link-2.png');
}

.dropdown__item-3 {
  background-image: url('../img/tabs-pane__link-3.png');
}

.dropdown__item-1:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/tabs-pane__link-1.png');
}

.dropdown__item-2:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/tabs-pane__link-2.png');
}
.dropdown__item-3:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url('../img/tabs-pane__link-3.png');
}

.lowermenu__link-icon-rotate.lowermenu__btn::after {
  transform: translate(7px, 0%) rotate(-45deg);
} 

.simplebar-track.simplebar-vertical {
  top: 40px;
  right: 19px;
  width: 2px;
  max-height: 220px;
  background-color: #000;
}

.simplebar-scrollbar {
  background-color: var(--color-white);
}

.search {
  display: flex;
}

.search__btn {
  margin-right: 6px;
  width: 23px;
  height: 22px;
  border: none;
  background-image: url('../img/svg/Lupa.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: inherit;
}

.search__input {
  width: 223px;
  border: none;
  border-bottom: 1px solid var(--color-white);;
  color: var(--color-white);
  background-color: inherit;
  transition: border-color .3s ease-in-out;
}

.search__input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.search:hover .search__input {
  border-color: var(--color-violet-2);
  transition: border-color .3s ease-in-out;
}

.search__btn-modal {
  display: none;
}

/* sestion-hero*/

.section-hero {
  position: relative;
}

.section-hero__container {
  padding-top: 238px;
  padding-bottom: 122px;
  height: 100%;
}

.section-hero__content {
  position: relative;
  z-index: 2;
}

.section-hero__background {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero__background_1 {
  background-image: url("../img/hero_1.jpg");
}

.section-hero__background_2 {
  background-image: url("../img/hero_2.jpg");
}

.section-hero__background_3 {
  background-image: url("../img/hero_3.jpg");
}

.section-hero__name {
  margin: 0;
  margin-bottom: 20px;
  max-width: 590px;
  font-size: 72px;
  line-height: 85px;
  font-weight: bold;
  color: var(--color-white);
}

.section-hero__descr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 579px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: var(--color-white);
}

.section-hero__btn {
  position: relative;
  display: inline-block;
  padding: 20px 34px;
  border: 3px solid var(--color-violet-1);
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-violet-1);
  cursor: pointer;
  transition: border .3s ease-in-out, background-color .3s ease-in-out;
}

.section-hero__btn:focus::after {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  display: block;
  width: 104%;
  height: 120%;
  border: 2px solid var(--color-violet-2);
  border-radius: 100px;
}

.section-hero__btn:hover {
  border: 3px solid #D1A9F0;
}

.section-hero__btn:hover::after {
  border: none;
}

.section-hero__btn:active {
  border: 3px solid #D1A9F0;
  background-color: var(--color-violet);
}

@keyframes anim {
  from {
    transform: none;
  }
  to {
    transform: scale(1.05);
    transform-origin: center;
  }
} 

.section-hero .swiper-slide.swiper-slide-active {
  animation: anim 2.5s alternate ease-in-out infinite;
}

/* section-info */

.section-info__container {
  padding-top: 80px;
  padding-bottom: 68px;
}

.section-info__descr {
  margin: 0;
  max-width: 1080px;
  line-height: 32px;
}

/* section-gallery */

.section-gallery {
  background-image: url("../img/slider_fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-gallery__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 70px;
  width: 100%;
}

.section-gallery__filter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 50px;
  max-width: 400px;
}

.section-gallery__heading {
  margin-top: 0;
  color: var(--color-white);
}

.section-gallery__select-descr {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--color-white);
}

.section-gallery__note {
  margin-top: auto;
  max-width: 360px;
  font-weight: 600;
  color: var(--color-white);
}

.swip-gallery { 
  display: none; 
}

.swip-gallery.active { 
  display: block; 
}

.section-gallery__swiper {
  padding-bottom: 12px;
  width: calc((1150 / 1600) * 100%);
}

.section-gallery__img {
	height: 100%;
  width: 100%;
	object-fit: cover;
}

.img-fon {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.choices__list--dropdown.is-active {
  z-index: 10;
}

/* section-catalog */

.section-catalog__container {
  position: relative;
  padding-top: 80px;
}

.section-catalog__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.section-catalog__heading {
  margin-right: 2.6%;
  margin-top: 0;
  margin-bottom: 15px;
}

.section-catalog__list {
  display: flex;
  padding-bottom: 10px;
}

.tabs__item:not(:last-child) {
  margin-right: 50px;
}

.tabs__item button {
  background-size: 100%;
}

.tabs__item:nth-child(1) button {
  background-image: url("../img/image1.png");
}

.tabs__item:nth-child(2) button {
  background-image: url("../img/image2.png");
}

.tabs__item:nth-child(3) button {
  background-image: url("../img/image3.png");
}

.tabs__item:nth-child(4) button {
  background-image: url("../img/image4.png");
}

.tabs__item:nth-child(5) button {
  background-image: url("../img/image5.png");
}

.tabs__btn {
  padding: 0;
  border: none;  
  width: 46px;
  height: 46px;
  background-color: var(--color-white);
  cursor: pointer;
  transition: filter .3s ease-in-out, border-radius .3s ease-in-out, box-shadow .3s ease-in-out;
}

.section-catalog-btn-outline {
  border-radius: 50%;
  box-shadow: 0 0 0 7px var(--color-white), 0 0 0 10px var(--color-violet-2) !important;
  filter: none !important;
}

.tabs__btn:focus {
  border-radius: 50%;
  box-shadow: 0 0 0 1px transparent;
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.tabs__btn:hover {
  border-radius: 50%;
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  box-shadow: none
}

.tabs__btn:active {
  box-shadow: 0 0 0 2px var(--color-violet-1);
}

.section-catalog__tab-content {
  display: none;
}

.tab-content-active {
  display: block;
}

.section-catalog__content-position {
  display: flex;
  justify-content: space-between;
}

.section-catalog__content-left{
  padding-left: 0;
  width: calc((750 / 1600) * 100%);
}

.section-catalog__content {
  margin: 0;
  margin-bottom: 40px;
  max-width: 1080px;
}

.section-catalog__img {
  margin-bottom: 20px;
}

.section-catalog__img-data {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  color: #999999;
}

.section-catalog__img-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: var(--color-grey);
}

.section-catalog__content-right {
  width: calc((800 / 1600) * 100%);
}

h3,
.section-catalog__img-descr {
  margin: 0;
}

.ui-accordion-heading .catalog-empty {
  display: flex;
}

.catalog-empty__rectangle {
  margin: 12px;
  margin-left: 13px;
  margin-right: 36px;
  width: 251px;
  min-height: 165px;
  background-color: #B7B7B7;
  outline: 2px solid #B7B7B7;
  outline-offset: 12px;
}

.catalog-empty__content-heading {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.catalog-empty__content-text {
  margin-bottom: 5px;
  max-width: 275px;
  font-size: 16px;
  line-height: 22px;
}

.catalog-empty__content-text-artist {
  width: 100%;
  line-height: 32px;
  margin-bottom: 15px;
}

/* section-events */

.section-events__container {
  display: flex;
  flex-direction: column;
  padding-top: 82px;
  padding-bottom: 80px;
}

.section-events__cards {
  width: 100%;
}

.section-events__card-list {
  display: flex;
  flex-wrap: wrap;
}

.section-events__card-item {
  display: flex;
  flex: 0 1 calc((100% - 100px) / 3);
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 40px;
  padding-bottom: 46px;
  min-height: 700px;
  outline: 1px solid #CACACA;
} 

.section-events__card-item:nth-child(3n) {
  margin-right: 0;
}  

.section-events__card-img {
  margin-left: -50px;
  max-width: calc(100% + 90px);
}

.section-events__card-note {
  margin-right: -20px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  text-align: right;
  line-height: 16px;
  color: #999999;
}

.section-events__card-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.section-events__card-link {
  margin-right: auto;
  border-bottom: 1px solid var(--color-violet-1);
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: var(--color-violet-1);
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, outline .3s ease-in-out;
}

.section-events__card-link:focus {
  border-color: var(--color-white);
  color: var(--color-white);
  background-color: var(--color-violet-1);
  outline: 6px solid var(--color-violet-1);
}

.section-events__card-link:hover {
  border-color: var(--color-violet);
  color: var(--color-violet);
  background-color: inherit;
  outline: none;
}

.section-events__card-link:active {
  border-color: var(--color-grey);
  color: var(--color-grey);
}

.section-events__card-descr {
  margin: 0;
  padding-bottom: 10px;
}

.btn-events-is-hidden {
  display: none;
}

.btn-events {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 34px;
  border: 2px solid var(--color-violet-1);
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  color: var(--color-violet-1);
  background-color: var(--color-white);
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

.section-events__swiper-mobile {
  display: none;
}

/* section-editions */

.section-editions__card-mobile {
  display: none;
}

.section-editions {
  background-image: url("../img/editions_fon_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-editions__container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
}

.section-editions__heading {
  margin-bottom: 22px;
}

.section-editions__heading, 
.section-editions__checkbox-heading, 
.checkbox__label, 
.section-editions__price-heading, 
.section-editions__price-from, 
.section-editions__price-up-to, 
.section-editions__price-rub {
  color: var(--color-white);
}

.section-editions__content {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.section-editions__price-heading {
  margin-bottom: 8px;
}

.section-editions__price-content {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  max-width: 277px;
  box-sizing: border-box;
}

.section-editions__price-from, 
.section-editions__price-up-to, 
.section-editions__price-rub, 
.price-from, 
.price-up-to {
  padding: 3px 10px;
}

.price-from, 
.price-up-to {
  padding-right: 0;
  border: none;
  width: 30%;
  color: var(--color-white);
  background-color: rgba(157, 92, 208, 0.5);
  transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.price-from::placeholder, 
.price-up-to::placeholder {
  color: var(--color-white);
}

.price-from:hover, 
.price-up-to:hover {
  background-color: var(--color-violet-1);
}

.price-from:focus, 
.price-up-to:focus {
  outline: 1px solid var(--color-white);
  background-color: var(--color-violet-1);
}

.price-from:active, 
.price-up-to:active {
  outline: none;
  background-color: var(--color-violet);
}

.section-editions__swiper {
  width: calc((1150 / 1600) * 100% + 7px);
}

.section-editions__item-heading,
.section-editions__item-price,
.section-editions__item-author,
.section-editions__item-link {
  color: var(--color-white);
}

.section-editions__img {
  margin-bottom: 15px;
  height: 100%;
  object-fit: cover;
}

.section-editions__item-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  width: 100%;
}

.section-editions__item-heading {
  font-weight: bold;
  line-height: 1;
}

.section-editions__item-price {
  font-style: italic;
  line-height: 1;
}

.section-editions__item-author {
  line-height: 16px;
}

.section-editions__item-link {
  position: relative;
  display: inline-block;
  margin: 17px 0;
  padding: 10px 20px;
  border: 2px solid var(--color-violet-1);
  border-radius: 100px;
  font-weight: bold;
  text-align: center;
  line-height: 17px;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

.section-editions__item-link:focus::after,
.btn-events:focus::after,
.section-contacts__btn:focus::after {
  content: '';
  position: absolute;
  display: block;
  width: 108%;
  height: 123%;
  border: 2px solid var(--color-violet-2);
  border-radius: 100px;
}

.btn-events:focus::after,
.section-contacts__btn:focus::after {
  left: -5.5%;
  bottom: -16%;
}

.section-editions__item-link:focus::after {
  left: -6%;
  bottom: -17%;
}

.section-editions__item-link:hover,
.btn-events:hover,
.section-contacts__btn:hover {
  color: var(--color-white);
  background-color: var(--color-violet-1);
}

.section-editions__item-link:active,
.btn-events:active,
.section-contacts__btn:active {
  color: var(--color-white);
  border-color: var(--color-violet);
  background-color: var(--color-violet);
}

.section-editions__checkbox-list {
  margin-bottom: 33px;
}

/* section-projects */

.section-projects__container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--color-white);
}

.section-projects__heading {
  margin-bottom: 15px;
}

.section-projects__tooltip {
  margin-bottom: 20px;
  max-width: 1080px;
}

.section-projects__slider-heading {
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.slider-main {
  position: relative;
  padding: 0 75px;
}

.section-projects__item-frame {
  display: flex;
  border: 1px solid #CACACA;
  height: 150px;
  box-sizing: border-box;
  transition: border .3s ease-in-out, border .3s ease-in-out;
}

.section-projects__item-frame:focus {
  border: 1px solid #885BC7;
}

.section-projects__item-frame:active {
  border: 1px solid #885BC7;
}

.section-projects__img {
  margin: auto;
  object-fit: cover;
}

/* section-contacts */

.section-contacts__left-address {
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
} 

.section-contacts__grid-wrapper {
  display: grid;
  grid-template-columns: calc(682 / 1920 * 100%) calc(1238 / 1920 * 100%);
  grid-template-rows: 192px 508px;
  margin: 0 auto;
  max-width: 1920px;
}

.section-contacts__grid-map {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.section-contacts__grid-address,
.section-contacts__grid-form {
  padding-right: 120px;
  padding-left: 10px;
  border: 1px solid #CACACA;
}

.section-contacts__grid-address {
  display: flex;
  border-bottom: none;
}

.section-contacts__grid-form {
  display: flex;
  padding-top: 28px;
  border-top: none;
}

.section-contacts__address-wrapper {
  margin-top: auto;
  margin-left: auto;
  min-width: 400px;
}

.section-contacts_form-wrapper {
  margin-left: auto;
  width: 400px;
}

address {
  font-style: normal;
}

.section-contacts__left-heading {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
}

.section-contacts__form {
  display: flex;
  flex-direction: column-reverse;
}

.section-contacts__form-name,
.section-contacts__form-tel {
  margin-bottom: 22px;
  padding: 10.5px 0 10.5px 24px;
  border: 1px solid var(--color-grey);
  border-radius: 100px;
  line-height: 17px;
  transition: background-color .3s ease-in-out;
}

.section-contacts__form-name:hover,
.section-contacts__form-tel:hover,
.section-contacts__form-name:focus,
.section-contacts__form-tel:focus {
  background-color: #EAEAEA;
}

.section-contacts__btn {
  position: relative;
  margin-bottom: 38px;
  margin-right: auto;
  padding: 18px 33px;
  border: 2px solid var(--color-violet-1);
  border-radius: 100px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: var(--color-violet-1);
  background-color: var(--color-white);
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

.section-contacts__list {
  display: flex;
}

.section-contacts__icon {
  display: block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .3s ease-in-out;
}

.section-contacts__icon:focus,
.section-contacts__icon:hover {
  opacity: 0.5;
  transition: opacity .3s ease-in-out;
}

.icon-whatsapp {
  margin-right: 20px;
  background-image: url("../img/svg/Whatsapp.svg");
}

.icon-whatsapp:active {
  background-image: url("../img/svg/Whatsapp-active.svg");
  opacity: 1;
}

.icon-telegram {
  background-image: url("../img/svg/Telegram.svg");
}

.icon-telegram:active {
  background-image: url("../img/svg/Telegram-active.svg");
  opacity: 1;
}

.map {
  width: 100%;
  height: 100%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* footer */

footer {
  background-color: #000000;
}

.footer__container {
  display: flex;
  align-items: center;
  min-height: 140px;
}

.footer__logo {
  margin-right: auto;
}

.footer__list {
  display: flex;
  padding: 47.5px 0;
}

.footer__icon {
  display: block;
  margin-right: 19px;
  width: 45.4px;
  height: 45.4px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image .3s ease-in-out;
}

.icon-vk {
  background-image: url("../img/svg/vk.svg");
}

.icon-vk:hover,
.icon-vk:focus {
  background-image: url("../img/svg/vk-focus.svg");
  transition: background-image .3s ease-in-out;
}

.icon-vk:active {
  background-image: url("../img/svg/vk-active.svg");
}

.icon-insta {
  background-image: url("../img/svg/instagram.svg");
}

.icon-insta:focus,
.icon-insta:hover {
  background-image: url("../img/svg/instagram-focus.svg");
}

.icon-insta:active {
  background-image: url("../img/svg/instagram-active.svg");
}

.icon-facebook {
  margin-right: 0;
  background-image: url("../img/svg/fb.svg");
}

.icon-facebook:hover,
.icon-facebook:focus {
  background-image: url("../img/svg/fb-focus.svg");
}

.icon-facebook:active {
  background-image: url("../img/svg/fb-active.svg");
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .menu__logo {
    margin-right: 30px;
  }
  
  .accordion-content__btn span {
    font-size: 12px;
  }

  .menu-nav__item:not(:last-child),
  .lowermenu__item:not(:last-child) {
    margin-right: 18px;
  }

  .search__input {
    width: 150px;
  }
}

@media (max-width: 1024px) {

  .container {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 944px;
  }

  /* header*/

  .menu__container {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  
  .menu__logo {
    margin-right: auto;
    margin-left: auto;
  }

  .lowermenu {
    display: none;
  }

  .header {
    width: 100%;
  }

  .burger {
    display: block;
  }

  .menu-nav {
    position: fixed;
    right: 0;
    top: var(--header-height);
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    width: 50%;
    max-width: 300px;
    height: calc(var(--hero-height) - var(--header-height)) ;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(100%);
    transition: transform .6s ease-in-out;
  }

  .nav--visible {
    transform: none
  }

  .menu-nav__list {
    flex-direction: column;
    padding-top: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }

  .menu-nav__item:not(:last-child) {
    margin-right: 0;
  }

  .menu-nav__link,
  .menu-user {
    display: inline-block;
    padding: 20px 49px;
    width: 100%;
    font-size: 20px;
  }

  .menu-user {
    margin-left: auto;
    margin-right: auto;
    padding: 18px 86px;
    border: 2px solid var(--color-violet-1);
    border-radius: 100px;
    line-height: 20px;
    cursor: pointer;
  }

  .search__btn-modal {
    display: block;
  }

  .search__btn {
    margin-right: 0;
    width: 29px;
    height: 29px;
  }

  .logo {
    padding-right: 5px;
    width: 189px;
    height: 43px;
  }

  .menu-user {
    font-weight: 600;
  }

  /* section-hero */

  .section-hero__container {
    padding-top: 210px;
    padding-bottom: 113px;
  }

  .section-hero__background_1 {
    background-image: url("../img/hero_1_1024.jpg");
  }

  .section-hero__background_2 {
    background-image: url("../img/hero_2_1024.jpg");
  }

  .section-hero__background_3 {
    background-image: url("../img/hero_3_1024.jpg");
  }

  .section-hero__name {
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  .section-hero__descr {
    margin-bottom: 136px;
    max-width: 660px;
  }

  .section-hero__content {
    padding-left: 0;
  }

  /* section-info */

  .section-info__container {
    padding-top: 78px;
    padding-bottom: 69px;
  }

  .section-info__descr {
    width: 100%;
    margin-bottom: 0;
  }

  /* section-gallery */

  .section-gallery__container {
    padding-bottom: 68px;
  }

  .section-gallery__filter,
  .select-custom-g .choices__list--dropdown,
  .select-custom-g,
  .section-gallery__note {
    width: 100%
  }

  .section-gallery__note {
    padding-bottom: 5px;
  }

  .section-gallery__swiper {
    width: calc(594 / 925 * 100%);
  }

  /* section-catalog */

  .section-catalog__list {
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 7px;
  }

  .section-catalog__content {
    margin-bottom: 40px;
    width: 100%;
  }

  .section-catalog__content-right {
    width: 47.3%;
  }

  .catalog-empty__content-text {
    max-width: 207px;
  }

  .catalog-empty__rectangle {
    margin: 8px;
    margin-left: 9px;
    margin-right: 33px;
    width: 173px;
    height: 114px;
    outline-offset: 8px;
  }

  .br {
    display: none;
  }

  .section-catalog__content-left  {
    width: 47.3%;
  }

  /* section-events */

  .section-events__container {
    padding-top: 80px;
  }

  .section-events__heading {
    margin-bottom: 16px;
  }

  .section-events__card-list {
    min-height: 680px;
  }

  .section-events__card-item {
    flex: 0 1 calc((100% - 54px) / 3);
    margin-right: 27px;
    margin-bottom: 50px;
    padding: 0 34px 53px 34px;
    min-height: 683px;
  }

  .section-events__card-note {
    margin-bottom: 6px;
  }

  .section-events__card-img {
    margin-left: -34px;
    height: 200px;
    width: calc(100% + 68px);
  }

  .section-events__card-heading {
    margin-bottom: 5px;
  }

  /* section-editions */

  .section-editions {
    background-image: url("../img/editions_fon_1024.jpg");
  }

  .section-editions__content {
    width: 31%;
  }

  .section-editions__swiper {
    width: 69%;
  }

  .section-editions__img {
    margin-bottom: 2px;
  }

  .section-editions__item-content {
    margin: 0;
    margin-bottom: 7px;
    width: 100%;
    line-height: 30px;
  }

  .section-editions__container {
    padding-bottom: 73px;
  }

  /* section-projects */

  .section-projects__tooltip {
    margin-bottom: 23px;
    width: 100%;
  }

  .slider-main {
    padding: 0 52px;
    width: 100%;
  }

  .section-projects__item-frame {
    height: 128px;
  }

  .section-projects__slider-heading {
    margin-bottom: 20px;
  }

  .section-projects__img-1 {
    width: 56%;
  }

  .section-projects__img-2 {
    width: 75%;
  }

  .section-projects__img-3 {
    width: 60%;
  }

  .section-projects__img-4 {
    width: 27.2%;
  }

  .section-projects__img-5 {
    width: 38.4%;
  }

  .section-projects__img-6 {
    width: 56.1%;
  }
  
  .section-projects__img-7 {
    width: 63.7%;
  }

  .section-projects__img-8 {
    width: 41.3%;
  }

  .section-projects__img-9 {
    width: 50.9%;
  }

    /* section-contacts */

  .section-contacts__grid-wrapper {
    grid-template-columns: calc(487 / 1024 * 100%) calc(537 / 1024 * 100%);
    grid-template-rows: 192px 508px;
  }

  .section-contacts_form-wrapper {
    width: 335px;
  }

  .section-contacts__address-wrapper {
    min-width: 335px;
  }

  .section-contacts__grid-address, 
  .section-contacts__grid-form {
    padding-right: 101px;
  }

  .section-contacts__icon {
    width: 60px;
    height: 60px;
  }

  .icon-whatsapp {
    margin-right: 30px;
  }

  /* footer */

  .footer__logo {
    width: 179px;
    height: 40px;
  }

  .footer__list {
    padding: 40px 0;
  }

  .footer__icon {
    margin-right: 30px;
    width: 60px;
    height: 60px;
  }

  .icon-facebook {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 688px;
  }

  /* header*/

  .menu-nav {
    top: 0;
    right: 100%;
    padding-bottom: 50px;
    width: 100%;
    height: var(--hero-height);
    max-width: 100%;
    transform: translateX(100%) translateY(-100%);
  }

  .menu-nav__list {
    margin-top: var(--header-height);
    margin-right: auto;
    padding-top: 0;
    width: auto;
  }

  .nav--visible {
    right: 100%;
    transform: translateX(100%) translateY(0);
  }

  .menu-nav__item {
    width: 100%;
  }

  .menu-nav__link {
    font-size: 24px;
    line-height: 23px;
  }

  .menu-nav div {
    margin-right: auto;
    padding-left: 49px;
    margin-top: auto;
  }

  .burger,
  .search__btn {
    z-index: 20;
  }

  /* section-hero */

  .section-hero__container {
    padding-bottom: 112px;
  }

  .section-hero__background_1 {
    background-image: url("../img/hero_1_768.jpg");
  }

  .section-hero__background_2 {
    background-image: url("../img/hero_2_768.jpg");
  }

  .section-hero__background_3 {
    background-image: url("../img/hero_3_768.jpg");
  }

  /* section-info */

  .section-info__container {
    padding-top: 80px;
  }

  /* section-gallery */

  .section-gallery__container {
    flex-direction: column;
    min-height: 1111px;
  }

  .section-gallery__swiper {
    position: absolute;
    top: 266px;
    width: calc(100% - 20px);
  }

  .section-gallery__filter {
    max-width: 100%;
  }

  .choices {
    width: 280px;
  }

  .section-gallery__note {
    max-width: 100%;
  }

  /* section-catalog */

  .section-catalog__content-position {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-catalog__content {
    margin-bottom: 20px;
    text-align: left;
  }

  .section-catalog__heading {
    margin-right: 40px;
  }

  .section-catalog__list {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 0;
    width: 66.7%;
  }

  .tabs__item:not(:last-child) {
    margin-right: 0;
  }

  .section-catalog__last-btn {
    margin-right: 0;
  }

  .section-catalog__content-right {
    position: relative;
    right: 0;
    margin-bottom: 52px;
    width: 100%;
  }

  .section-catalog__content-left {
    width: 100%;    
  }

  .section-catalog__img-descr {
    width: 100%;
  }

  .br {
    display: block;
  }

  /* section-events */

  .section-events__container {
    padding-top: 71px;
  }

  .section-events__card-list {
    flex-wrap: wrap;
  }

  .section-events__card-item {
    margin-right: 34px;
    margin-bottom: 52px;
    min-height: 680px;
    flex: 0 1 calc((100% - 34px) / 2);
  }

  .section-events__card-heading {
    word-wrap: break-word;
  }

  .section-events__card-item:nth-child(3n) {
    margin-right: 34px;
  }

  .section-events__card-item:nth-child(2n) {
    margin-right: 0;
  }

  .section-events__card-link {
    bottom: 50px;
  }

  /* section-editions */

  .section-editions {
    background-image: url('../img/editions_fon_768.jpg');
  }

  .section-editions__container {
    display: flex;
    flex-direction: column;
    padding-top: 86px;
    padding-bottom: 65px;
  }

  .section-editions__content {
    width: 100%;
  }

  .section-editions__price-heading {
    margin-bottom: 7px;
}

  .section-editions__swiper {
    width: 100%;
  }

  .section-editions__price-content {
    width: 42.6%;
  }

  .section-editions__item-link {
    margin-top: 22px;
  }

  .section-editions__checkbox-list {
    margin-bottom: 46px;
  }

  /* section-projects */

  .section-projects__tooltip {
    margin-bottom: 25px;
    width: 99%;
  }

  .section-projects__tooltip-text {
    line-height: 31.9px;
  }

  .tooltip-link {
    white-space: nowrap;
  }

  .section-projects__heading {
    margin-bottom: 17px;
  }

  .section-projects__slider-heading {
    margin-bottom: 27px;
  }

  .section-projects__item-frame {
    height: 106px;
  }

  .section-projects__img-1 {
    width: 79%;
  }

  .section-projects__img-2 {
    width: 82%;
  }

  .section-projects__img-3 {
    width: 73%;
  }

  .section-projects__img-4 {
    width: 40%;
  }

  .section-projects__img-5 {
    width: 45.6%;
  }

  .section-projects__img-6 {
    width: 65.6%;
  }

  .section-projects__img-7 {
    width: 74%;
  }

  .section-projects__img-8 {
    width: 53.8%;
  }

  .section-projects__img-9 {
    width: 68.8%;
  }

  /* .section-contacts */

  .section-contacts__grid-wrapper {
    grid-template-columns: calc(430 / 768 * 100%) calc(338 / 768 * 100%);
    grid-template-rows: 192px 508px;
  }

  .section-contacts__grid-address, 
  .section-contacts__grid-form {
    padding-right: 43px;
  }

  /* footer */

  .footer__list {
    flex-wrap: wrap;
  }
}

@media (min-width: 321px) and (max-width: 520px) {
  .section-hero__name {
    font-size: 50px;
    line-height: 60px;
  }

  .section-events__card-heading {
    font-size: 16px;
  }
  .section-events__card-descr {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
    max-width: 300px;
  }

  /* header */

  .menu__container {
    padding-top: 12px;
    padding-bottom: 12px;
    max-height: 45px;
  }

  .logo {
    width: 97px;
    height: 22px;
  }

  .menu-nav__link,
  .menu-user {
    font-size: 16px;
    font-weight: 600;
  }

  .search__btn {
    width: 18px;
    height: 18px;
  }

  /* section-hero */

  .section-hero__background {
    width: 320px;
    height: 356px;
  }

  .section-hero__name {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 260px;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    letter-spacing: normal;
  }

  .section-hero__container {
    padding-bottom: 47px;
    padding-top: 75px;
  }

  .section-hero__background {
    margin-left: 0;
  }

  .section-hero__background_1 {
    background-image: url("../img/hero_1_320.jpg");
  }

  .section-hero__background_2 {
    background-image: url("../img/hero_2_320.jpg");
  }

  .section-hero__background_3 {
    background-image: url("../img/hero_3_320.jpg");
  }

  .section-hero__descr {
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
    width: 265px;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
  }

  .section-hero__btn {
    padding: 8px 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .section-hero__content {
    text-align: center;
  }

  /* section-info */

  h2 {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 33px;
  }

  .section-info__container {
    padding-bottom: 0;
    padding-top: 53px;
    height: auto;
  }

  .section-info__descr {
    padding-bottom: 42px;
    height: auto;
    font-size: 14px;
    line-height: 28px;
  }

  /* section-gallery */

  .section-gallery__container {
    padding-top: 53px;
    padding-bottom: 40px;
    min-height: 854px;
  }

  .section-gallery__filter {
    padding-right: 0;
    width: 100%;
    margin-right: 0;
  }

  .choices {
    width: 100%;
  }

  .section-gallery__swiper{
    top: 215px;
    width: calc((290 / 300) * 100%);
  }

  .section-gallery__img {
    height: 367px;
  }

  .section-gallery__note {
    padding-bottom: 0;
  }

  .section-gallery__select-descr {
    margin-bottom: 6px;
  }

  /* section-catalog */

  .section-catalog__container {
    padding: 54px 5px;
  }

  .section-catalog__header {
    flex-direction: column;
  }

  .section-catalog__heading {
    margin-right: auto;
    margin-bottom: 13px;
  }

  .tabs__btn {
    width: 32px;
    height: 32px;
  }

  .section-catalog__list {
    width: 100%;
  }

  .section-catalog__content {
    display: none;
  }

  .section-catalog-btn-outline {
    box-shadow: 0 0 0 4px var(--color-white), 0 0 0 6px var(--color-violet-2) !important;
  }

  .section-catalog__content-right {
    margin-bottom: 50px;
  }

  .br {
    display: none;
  }

  .section-catalog__img {
    margin-bottom: 10px;
  }

  .section-catalog__img-descr {
    width: 99%;
  }

  .section-catalog__img-heading {
    margin-bottom: 5px;
  }

  /* section-events */

  .section-events__container {
    position: relative;
    padding: 0 5px;
    padding-bottom: 36px;
  }

  .section-events__card-note {
    margin-bottom: 4px;
  }

  .section-events__wrapper-text {
    max-height: 330px;
    overflow: hidden;
  }

  .section-events__heading {
    margin-bottom: 14px;
  }

  .section-events__card-img {
    margin-left: 0;
    margin-bottom: 13px;
    width: 100%;
  }

  .section-events__card-heading {
    margin-bottom: 36px;
    padding-left: 27px;
    padding-right: 22px;
  }

  .section-events__card-descr {
    padding-left: 27px;
    padding-right: 25px;
  }

  .section-events__card-note {
    padding-left: 27px;
    padding-right: 31px;
  }

  .section-events__swiper-mobile {
    display: block;
  }

  .section-events__wrapper-link {
    margin-top: auto;
    padding-left: 29px;
    padding-bottom: 46px;
  }

  .section-events__cards,
  .btn-events {
    display: none;
  }

  .section-events__card-content {
    margin-bottom: 47px;
    outline: 1px solid #CACACA;
    min-height: 680px;
    display: flex;
    flex-direction: column;
  }

  /* section-editions */

  .section-editions__card-mobile {
    display: block;
  }

  .section-editions__card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
  }
  .section-editions {
    background-image: url('../img/editions_fon_320.jpg');
  }

  .section-editions__container {
    padding-top: 40px;
    padding-bottom: 48px;
    align-items:inherit;
    height: 100%;
  }

  .section-editions__heading {
    margin-bottom: 0;
    line-height: 60px;
  }

  .section-editions__price-heading {
    margin-bottom: 5px;
  }

  .checkbox-list-mobile {
    margin-bottom: 19px;
  }

  .swip-2 {
    display: none;
  }

  .section-editions__card {
    width: 130px;
  }

  .section-editions__img {
    width: 100%;
    height: 143px;
    min-height: auto;
    min-width: auto;
  }

  .section-editions__item-content {
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
  }

  .section-editions__price-content {
    margin-bottom: 50px;
    width: 95%;
  }

  .section-editions__item-link {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 13px;
    width: 100%;
    font-size: 12px;
  }

  /* section-projects */

  .section-projects__container {
    padding-top: 55px;
    padding-bottom: 53px;
  }

  .section-projects__tooltip-text {
    line-height: 31px;
}

  .section-projects__tooltip {
    margin-bottom: 10px;
    width: 100%;
  }

  .section-projects__slider-heading {
    margin-bottom: 9px ;
    font-size: 18px;
  }

  .slider-main {
    padding: 0 47.5px;
  }

  .section-projects__item-frame {
    height: 65px;
  }

  .section-projects__img-1 {
    width: 54%;
  }

  .section-projects__img-2 {
    width: 73%;
  }

  .section-projects__img-3 {
    width: 60.5%;
  }

  .section-projects__img-4 {
    width: 27.6%;
  }

  .section-projects__img-5 {
    width: 39%;
  }

  .section-projects__img-6 {
    width: 56.7%;
  }

  .section-projects__img-7 {
    width: 64%;
  }

  .section-projects__img-8 {
    width: 41.5%;
  }

  .section-projects__img-9 {
    width: 51.2%;
  }

    /* section-contacts */

  .section-contacts__grid-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 63px 320px 368px;
  }
  
  .section-contacts__grid-map {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
  }

  .section-contacts__grid-address, 
  .section-contacts__grid-form {
    border: none;
  }

  .section-contacts_form-wrapper {
    width: 100%;
  }
  
  address {
    margin-bottom: 357px;
    padding-left: 4px;
    font-size: 14px;
    line-height: 14px;
  }

  .section-contacts__address-wrapper {
    margin-left: 0;
    min-width: auto;
  }

  .section-contacts__heading {
    margin-bottom: 10px;
  }

  .section-contacts__left-address {
    padding-left: 4px;
    font-size: 18px;
    line-height: 30px;
  }

  .section-contacts__grid-form {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-contacts__left-heading {
    font-size: 18px;
  }

  .section-contacts__form-name,
  .section-contacts__form-tel {
    margin-bottom: 20px;
    width: 100%;
  }

  .section-contacts__btn {
    margin-bottom: 20px;
    padding: 10px 30px;
    width: 130px;
    height: 40px;
    font-size: 12px;
  }

  .section-contacts__icon {
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
  }

  .icon-whatsapp {
    margin-right: 20px;
  }

  .section-contacts__heading-icon {
    margin-bottom: 7px;
  }

  /* footer */

  .footer__container {
    flex-direction: column-reverse;
    padding: 30px 55px;
    height: 132px;
  }

  .footer__logo {
    margin-right: 0;
    padding: 0;
  }

  .footer__list {
    flex-wrap: nowrap;
    padding: 0;
    margin-bottom: 20px;
  }

  .footer__icon {
    width: 50px;
    height: 50px;
  }

  .footer-logo {
    margin-right: 0;
    height: 30px;
  }

  .footer-logo__img {
    padding-top: 18px;
    max-width: 97px;
  }

  .icon-facebook {
    margin-right: 0;
  }
} 